# ci specific env vars for all environments
APP_ENV=build
CLUSTER_NAME=your-cluster-name
APP_NAME=your-app-name
BUILD_BUCKET_NAME=${APP_NAME}-${APP_ENV}
BUILD_ACCESS_KEY_ID=your-access-key-id
BUILD_SECRET_ACCESS_KEY=your-secret-access-key
BUILD_SPACES_ENDPOINT=nyc3.digitaloceanspaces.com
CODE_REPOSITORY=https://github.com/username/repository.git

# other app-specific env vars for the production environment
DB_STRING=your-database-connection-string